<?php
/**
 * TeamsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * BombBomb
 *
 * We make it easy to build relationships using simple videos.
 *
 * OpenAPI spec version: 2.0.20679
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BombBomb;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * TeamsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class TeamsApi
{

    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://api.bombbomb.com/v2');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return TeamsApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation cancelJerichoSend
     *
     * Cancel a Jericho Send
     *
     * @param string $jerichoId ID of the Jericho Job to cancel (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function cancelJerichoSend($jerichoId)
    {
        list($response) = $this->cancelJerichoSendWithHttpInfo($jerichoId);
        return $response;
    }

    /**
     * Operation cancelJerichoSendWithHttpInfo
     *
     * Cancel a Jericho Send
     *
     * @param string $jerichoId ID of the Jericho Job to cancel (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function cancelJerichoSendWithHttpInfo($jerichoId)
    {
        // verify the required parameter 'jerichoId' is set
        if ($jerichoId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $jerichoId when calling cancelJerichoSend');
        }
        // parse inputs
        $resourcePath = "/team/{teamId}/jericho/{jerichoId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($jerichoId !== null) {
            $resourcePath = str_replace(
                "{" . "jerichoId" . "}",
                $this->apiClient->getSerializer()->toPathValue($jerichoId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/team/{teamId}/jericho/{jerichoId}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation getClientGroupAssets
     *
     * Lists team assets
     *
     * @param string $assetType The type of assets. (required)
     * @param string $teamId The team containing the assets. (optional)
     * @param string $autoTagName The auto tag name containing the assets. (optional)
     * @param string $pageSize The number of items to retrieve in a single db query. (optional)
     * @param string $page Zero-based index of the page of data to retrieve from the db. (optional)
     * @param string $search Search words. (optional)
     * @return \BombBomb\InlineResponse200
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getClientGroupAssets($assetType, $teamId = null, $autoTagName = null, $pageSize = null, $page = null, $search = null)
    {
        list($response) = $this->getClientGroupAssetsWithHttpInfo($assetType, $teamId, $autoTagName, $pageSize, $page, $search);
        return $response;
    }

    /**
     * Operation getClientGroupAssetsWithHttpInfo
     *
     * Lists team assets
     *
     * @param string $assetType The type of assets. (required)
     * @param string $teamId The team containing the assets. (optional)
     * @param string $autoTagName The auto tag name containing the assets. (optional)
     * @param string $pageSize The number of items to retrieve in a single db query. (optional)
     * @param string $page Zero-based index of the page of data to retrieve from the db. (optional)
     * @param string $search Search words. (optional)
     * @return Array of \BombBomb\InlineResponse200, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getClientGroupAssetsWithHttpInfo($assetType, $teamId = null, $autoTagName = null, $pageSize = null, $page = null, $search = null)
    {
        // verify the required parameter 'assetType' is set
        if ($assetType === null) {
            throw new \InvalidArgumentException('Missing the required parameter $assetType when calling getClientGroupAssets');
        }
        // parse inputs
        $resourcePath = "/team/assets/";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // query params
        if ($assetType !== null) {
            $queryParams['assetType'] = $this->apiClient->getSerializer()->toQueryValue($assetType);
        }
        // query params
        if ($teamId !== null) {
            $queryParams['teamId'] = $this->apiClient->getSerializer()->toQueryValue($teamId);
        }
        // query params
        if ($autoTagName !== null) {
            $queryParams['autoTagName'] = $this->apiClient->getSerializer()->toQueryValue($autoTagName);
        }
        // query params
        if ($pageSize !== null) {
            $queryParams['pageSize'] = $this->apiClient->getSerializer()->toQueryValue($pageSize);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($page);
        }
        // query params
        if ($search !== null) {
            $queryParams['search'] = $this->apiClient->getSerializer()->toQueryValue($search);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BombBomb\InlineResponse200',
                '/team/assets/'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\BombBomb\InlineResponse200', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BombBomb\InlineResponse200', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getJerichoSends
     *
     * List Jericho Sends
     *
     * @param string $teamId The team whose Jericho sends you wish to see. (required)
     * @return \BombBomb\JerichoConfiguration[]
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getJerichoSends($teamId)
    {
        list($response) = $this->getJerichoSendsWithHttpInfo($teamId);
        return $response;
    }

    /**
     * Operation getJerichoSendsWithHttpInfo
     *
     * List Jericho Sends
     *
     * @param string $teamId The team whose Jericho sends you wish to see. (required)
     * @return Array of \BombBomb\JerichoConfiguration[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getJerichoSendsWithHttpInfo($teamId)
    {
        // verify the required parameter 'teamId' is set
        if ($teamId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $teamId when calling getJerichoSends');
        }
        // parse inputs
        $resourcePath = "/team/{teamId}/jericho";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($teamId !== null) {
            $resourcePath = str_replace(
                "{" . "teamId" . "}",
                $this->apiClient->getSerializer()->toPathValue($teamId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BombBomb\JerichoConfiguration[]',
                '/team/{teamId}/jericho'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\BombBomb\JerichoConfiguration[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BombBomb\JerichoConfiguration[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getJerichoStats
     *
     * Gets Jericho performance statistics
     *
     * @param string $jerichoId ID of the Jericho job (required)
     * @param string $teamId ID of team through which Jericho was sent (required)
     * @return \BombBomb\JerichoPerformance
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getJerichoStats($jerichoId, $teamId)
    {
        list($response) = $this->getJerichoStatsWithHttpInfo($jerichoId, $teamId);
        return $response;
    }

    /**
     * Operation getJerichoStatsWithHttpInfo
     *
     * Gets Jericho performance statistics
     *
     * @param string $jerichoId ID of the Jericho job (required)
     * @param string $teamId ID of team through which Jericho was sent (required)
     * @return Array of \BombBomb\JerichoPerformance, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getJerichoStatsWithHttpInfo($jerichoId, $teamId)
    {
        // verify the required parameter 'jerichoId' is set
        if ($jerichoId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $jerichoId when calling getJerichoStats');
        }
        // verify the required parameter 'teamId' is set
        if ($teamId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $teamId when calling getJerichoStats');
        }
        // parse inputs
        $resourcePath = "/team/{teamId}/jericho/{jerichoId}/performance";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($jerichoId !== null) {
            $resourcePath = str_replace(
                "{" . "jerichoId" . "}",
                $this->apiClient->getSerializer()->toPathValue($jerichoId),
                $resourcePath
            );
        }
        // path params
        if ($teamId !== null) {
            $resourcePath = str_replace(
                "{" . "teamId" . "}",
                $this->apiClient->getSerializer()->toPathValue($teamId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BombBomb\JerichoPerformance',
                '/team/{teamId}/jericho/{jerichoId}/performance'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\BombBomb\JerichoPerformance', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BombBomb\JerichoPerformance', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation queueJerichoSend
     *
     * Creates a Jericho send.
     *
     * @param \BombBomb\JerichoConfiguration $config JSON representing a Jericho configuration (required)
     * @param string $teamId The ID of the team. (required)
     * @return \BombBomb\JerichoConfiguration
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function queueJerichoSend($config, $teamId)
    {
        list($response) = $this->queueJerichoSendWithHttpInfo($config, $teamId);
        return $response;
    }

    /**
     * Operation queueJerichoSendWithHttpInfo
     *
     * Creates a Jericho send.
     *
     * @param \BombBomb\JerichoConfiguration $config JSON representing a Jericho configuration (required)
     * @param string $teamId The ID of the team. (required)
     * @return Array of \BombBomb\JerichoConfiguration, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function queueJerichoSendWithHttpInfo($config, $teamId)
    {
        // verify the required parameter 'config' is set
        if ($config === null) {
            throw new \InvalidArgumentException('Missing the required parameter $config when calling queueJerichoSend');
        }
        // verify the required parameter 'teamId' is set
        if ($teamId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $teamId when calling queueJerichoSend');
        }
        // parse inputs
        $resourcePath = "/team/{teamId}/jericho";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($teamId !== null) {
            $resourcePath = str_replace(
                "{" . "teamId" . "}",
                $this->apiClient->getSerializer()->toPathValue($teamId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($config)) {
            $_tempBody = $config;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BombBomb\JerichoConfiguration',
                '/team/{teamId}/jericho'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\BombBomb\JerichoConfiguration', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BombBomb\JerichoConfiguration', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
